@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreeSet';
  src: url('../fonts/FreeSet_Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreeSet';
  src: url('../fonts/FreeSet_ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}